
<style>
</style>

<nav class="navbar navbar-expand-sm navbar-dark bg-success fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">PetMe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Donate</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="content" role="main">
  
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static" style="background-color: #ffffff" *ngFor="let dato of datos">
      <h3 class="mb-0">{{dato[0]["text"]}}</h3>
      <br>
      <h4>{{dato[1]["text"]}}</h4>
      <p class="card-text mb-auto">{{dato[2]["text"]}}</p>
        <h4 class="mb-0"> {{dato[3]["text"]}} </h4>
        <p class="card-text mb-auto">
          {{dato[4]["text"]}}
        </p>
    </div>
    <div class="col-auto d-none d-lg-block" style="background-color: #ffffff">
      <img [src]="'./assets/img/'+img" alt="pepep" class="img-thumbnail">
    </div>
  </div> 
</div>
<footer class="bg-light text-center text-lg-start fixed-bottom">
  <!-- Grid container -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © PetMe || Telf + info@petme.com
  </div>
</footer>
 







<router-outlet></router-outlet>


